<div class="container">
    <%= simple_form_for(trip) do |f| %>
        <%= f.input :name %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :location %>
        <%= f.input :number_of_travellers %>
        <%= f.submit %>
    <% end %>
</div> 