<h1>TRIPS</h1>
    <%= simple_form_for(**Votre voyage**) do |f| %>
        <%= f.input :name %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :address %>
        <%= f.input :number_of_travellers %>
        <%= f.submit %>
    <% end %>

