<div class="container">
  <h1>Détail de mon voyage</h1>
  <div class="container content-cards">
    <div class="content-cards">
      <div class='cards'>
        <% @flats.each do |flat| %>
          <%= link_to trip_flat_path(trip_id: @trip.id, id: flat.id) do %>
            <div class="card-trip">
              <div class='card-img'>
                <%= image_tag '', class:"card-img" %>
              </div>
              <div class="card-trip-infos">
                <div class='card-trip-text'>
                  <h2><%= flat.name %></h2>
                  <p><%= flat.description.truncate(30)%>
                </div>
                <div class='card-trip-pricing'>
                  <p><%= flat.price %>0€</p>
                </div>
                <img src="https://www.it-services.com.tn/wp-content/uploads/2017/04/avatar-2.png" class="card-trip-user avatar-bordered"/>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="potager-grid content-cards">
    <% @restaurants.each do |restaurant| %>
      <%= link_to trip_restaurant_path(trip_id: @trip.id, id: restaurant.id) do %>
      <div class="card-trip">
          <%= image_tag 'photo.jpg', class:"card-img" %>
          <div class="card-trip-infos">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.price %>€</p>
            <p><%= restaurant.description.truncate(30)%>
            <img src="https://www.it-services.com.tn/wp-content/uploads/2017/04/avatar-2.png" class="card-trip-user avatar-bordered"/>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="potager-grid content-cards">
      <% @activities.each do |activity| %>
        <%= link_to trip_activity_path(trip_id: @trip.id, id: activity.id) do %>
        <div class="card-trip">
            <%= image_tag '', class:"card-img" %>
            <div class="card-trip-infos">
              <h2><%= activity.name %></h2>
              <p><%= activity.price %>€</p>
              <p><%= activity.description.truncate(30)%>
              <img src="https://www.it-services.com.tn/wp-content/uploads/2017/04/avatar-2.png" class="card-trip-user avatar-bordered"/>
            </div>
          </div>
            <% end %>
          <% end %>
    </div>
  </div>
</div>

