<div class="container py-4">
  <div class="content">
    <div>
      <div>
        <%= link_to "retour", trip_flats_path(@trip) %>
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
        <%= image_tag 'photo.jpg', class:"w-100 h-100" %>
      </div>
      <!-- Flat card -->
      <div class="element">
        <div>
          <div><%= image_tag "https://konsultan.online/wp-content/uploads/avatar-7.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
          <div class="pl-2"><p>Proposé par <%#= @flat.user.email.split("@").first %></p></div>
          <p><%= @flat.description %></p>
          <%#= link_to "Retour aux hébergements", flats_path, class:"btn btn-secondary" %>
        </div>
        <div>
          <!-- Booking card -->
          <div id="form_booking">
            <div class="d-flex justify-content-between mt-2">
              <div class="important">
                <p><%= @flat.price %><span style="font-size: 16px">€/m²</span></p>
              </div>
            </div>
            <p><%= @flat.capacity %></p>
            <div>
              <%= simple_form_for [@flat, @booking_flat], url:  flat_flats_bookings_path(@flat) do |f| %>
                <%= f.input :trip_id, as: :hidden, input_html:{value:@trip.id} %>
                <%= f.input :start_date, as: :date, order: [:day, :month, :year], selected: @trip.start_date %>
                <%= f.input :end_date, as: :date, order: [:day, :month, :year], selected: @trip.end_date %>
                <%= f.button :submit, "Réserver", class: "btn btn-primary w-100" %>
              <% end %>
            </div>
            <div class="important">
              <div class="d-flex justify-content-between mt-3">
                <p><strong>Total</strong></p>
                <p><strong>200€</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="pb-2"><h3>Emplacement</h3>
        <div id="map"
          style="width: 100%; height: 600px; border-radius: 10px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  


    <div id="trip-box" style="width: 300px; height: 100vh;">
      <ul class="list-inline nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="t-tab-underlined nav-link active" id="trip-tab" data-toggle="tab" href="#trip" role="tab" aria-controls="trip" aria-selected="false">Mon voyage</a> 
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="trip" role="tabpanel" aria-labelledby="trip-tab">
          <div class="trip-column">
            <div class="trip-card-title">
              <h6>Restaurants</h6>
            </div>
            <% unless @trip.restaurants.empty? %>
              <% @trip.restaurants.each do |restaurant| %>
                <div id="trip-card">
                  <div class="left">
                    <p><%= restaurant.name %></p>
                    <p><span><%= restaurant.price %>€/jour</span></p>
                    <p><%= @trip.start_date %> - <%= @trip.end_date %></p>
                  </div>
                  <div class="right">
                    <a data-dismiss="alert" aria-label="Close">
                      <i class="fas fa-times"></i>
                    </a>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div>
              <div class="trip-card-title">
                <h6>Hébergements</h6>
              </div>
              <% unless @trip.flats.empty? %>
                <% @trip.flats.each do |flat| %>
                  <div id="trip-card">
                    <div class="left">
                      <p><%= flat.name %></p>
                      <p><span><%= flat.price %>€/jour</span></p>
                      <p><%= @trip.start_date %> - <%= @trip.end_date %></p>
                    </div>
                    <div class="right">
                      <a data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div>
              <div class="trip-card-title">
                <h6>Activités</h6>
              </div>
              <% unless @trip.activities.empty? %>
                <% @trip.activities.each do |activity| %>
                  <div id="trip-card">
                    <div class="left">
                      <p><%= activity.name %></p>
                      <p><span><%= activity.price %>€/jour</span></p>
                      <p><%= @trip.start_date %> - <%= @trip.end_date %></p>
                    </div>
                    <div class="right">
                      <a data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
