<h1>home</h1>
<%= link_to 'About', about_path %>
<%= link_to 'Contact', contact_path %>
<%#= link_to 'Trips > [lien a supprimer]', trip_path %>
    <div class='container'>
    <h1>VOTRE 1er VOYAGE</h1>
        <%= simple_form_for(@trip) do |f| %>
            <%= f.input :name %>
            <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>
            <%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
            <%= f.input :location %>
            <%= f.input :number_of_travellers %>
            <%= f.button :submit, "Réserver", class: "btn btn-primary w-100" %>
        <% end %>
    </div>
