<div class='background-img'>
  <div class="banner">
    <div class="container">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Acanopya</h1>
        <h2>Le voyage durable</h2>
          <div class='container'>
            <h1>CREEZ VOTRE PREMIER</h1>
            <%= simple_form_for(@trip) do |f| %>
              <div class="row">
                <div class="col-xs-6">
                  <%= f.input :name, placeholder: "Où allez vous?" %>
                </div>
                <div class="col-xs-6">
                  <%= f.input :start_date %>
                </div>
                <div class="col-xs-6">
                  <%= f.input :end_date %>
                </div>
              </div>
              <%= f.input :location %>
              <%= f.input :number_of_travellers %>
              <%= f.submit %>
            <% end %>
              <%#= render "../views/trips/_form.html.erb", trip: @trip %>
          </div>
       </div>
    </div>
  </div>
</div>

