<div class="container">
  <%= link_to "retour", trip_restaurants_path(@trip) %>
	<h1><%= @restaurant.name %></h1>

	<p><%= @restaurant.address %></p>
	<p><%= @restaurant.price %>€</p>
	<p><%= @restaurant.category %></p>
	<p><%= @restaurant.description %></p>
	<div class="bg-white p-4 position-sticky" style="top:0; box-shadow: 0 5px 5px rgba(0,0,0,0.2); border-radius: 8px;">
    <div class="d-flex justify-content-between mt-2">
      <p><strong><%= @restaurant.price %>€€€€</strong></p>
    </div>
    <div>
      <%= simple_form_for [@restaurant, @booking_restaurant], url:  restaurant_restaurants_bookings_path(@restaurant) do |f| %>
          <%= f.input :trip_id, as: :hidden, input_html:{value:@trip.id} %>
          <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %> 
        <%= f.button :submit, "Réserver", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between mt-3 border-bottom">
      <p><%= @restaurant.price %>€</p>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <p><strong>Total</strong></p>
      <p><strong>200€</strong></p>
    </div>
  </div>
  <div class="pb-2"><h3>Emplacement</h3>
    <div id="map"
      style="width: 100%; height: 600px; border-radius: 30px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>