<div class="container py-4">
<%= render 'shared/tab' %>
  <%# <div class="pb-4">
    <div class="subtitle"><h1>Nos hébergements</h1></div>
  </div>   %>

  <div class="content">
    <div class="cards">
      <% @activities.each do |activity| %>
       <%= link_to trip_activity_path(trip_id: @trip.id, id: activity.id) do %>
          <div class="card-trip">  
            <%= image_tag 'photo.jpg' %>
            <div class="card-trip-infos">
              <div>
                <p><%= activity.address %></p>
                <h2 class="pb-2 mb-2 border-bottom">
                  <%= activity.name %>
                </h2>
                <p>pour <%= activity.category %> personnes</p>
              </div>
              <h2 class="card-trip-pricing"><%= activity.price %>€</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
            </div>
          </div> 
        <% end %> 
      <% end %>
    </div>
    <div id="trip-box" style="width: 300px; height: 100vh;">
      <ul class="list-inline t-tabs-underlined">
        <li>
          <%= link_to "Carte", trip_activities_path(@trip.id), class: "t-tab-underlined active" %>
        </li>
        <li>
          <%= link_to "Voyage", trip_restaurants_path(@trip.id), class: "t-tab-underlined" %>
        </li>
      </ul>
      <div id="map"
        style="width: 300px; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
