<div class="container">
	<h1><%= @activity.name %></h1>

	<p><%= @activity.address %></p>
	<p><%= @activity.price %></p>
	<p><%= @activity.category %></p>
	<p><%= @activity.description %></p>
	<div>
      <%= simple_form_for [@activity, @booking_activity], url:  activity_activities_bookings_path(@activity) do |f| %>
          <%= f.input :trip_id, as: :hidden, input_html:{value:@trip.id} %>
          <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %> 
        <%= f.button :submit, "Réserver", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between mt-3 border-bottom">
    </div>

    <div class="d-flex justify-content-between mt-3">
    </div>
  </div>


</div>
